{% extends "dashboard/base.html" %}
{% block title %}Add User{% endblock %}
{%block toolbar%}{% include "dashboard/toolbar.html" %} {% endblock %}
{%block content%}
<form method="post" action="/dashboard/users/add">

    <div class="form-floating">
        <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        <label for="password">Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
